.dagrobin/db
.env
.env.local
.env.production
.env.production.local
scripts/.deploy.env

# Backend
backend/uploads/
backend/tmp/
build/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
